<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Queen Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/admin.css"></link>
    <script type="text/javascript" src="/javascript/lib/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="/javascript/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript/admin.js"></script>
</head>
<body>
<p>Hi</p>
</body>
</html>