<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Queen Cash::Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.min.css"></link>
    <script type="text/javascript" src="/javascript/lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <h1>My header</h1>
    </header>
    <section layout:fragment="content">
        <p>Page content goes here</p>
    </section>
    <footer>
        <p>My footer</p>
    </footer>
</div>
</body>
</html>