<body xmlns:th="http://www.thymeleaf.org"
     th:with="brand=active" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/_admin"
     layout:fragment="content">
<div class="sui-tabular-content" id="brand-tab">
    <div class="page-title">
        <div class="left">
            <h1><i class="fa fa-archive"></i>Brands</h1>
            <p>Manage brand related info</p>
        </div>
        <div class="right">
            <div class="search-form">
                <input class="form-control" placeholder="Search anything"/><button class="btn btn-primary fa fa-search"></button>
            </div>
            <button class="btn btn-primary icon-btn add-new-button"><i class="fa fa-plus"></i>Add Brand</button>
        </div>
    </div>
    <th:block th:replace="admin/brand/brandTable"></th:block>
</div>
</body>