<body xmlns:th="http://www.thymeleaf.org"
     th:with="brand=active" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/_admin"
     layout:fragment="content">
    <div class="page-title">
        <div>
            <h1><i class="fa fa-archive"></i>Brands</h1>
            <p>Manage brand related info</p>
        </div>
        <div>
            <ul class="breadcrumb">
                <a class="btn btn-primary icon-btn" href=""><i class="fa fa-plus"></i>Add Brand</a>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="fc-row table-footer">
                        <div class="col-sm-9 left">
                        </div>
                        <div class="col-sm-3 right">
                            <ul class="pagination pagination-sm">
                                <li class="disabled"><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>