.sui-create-edit-panel {
    background-color: #F0F3F4;
}
.sui-create-edit-panel .close {
    font-size: 25px;
    color: red;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #555;
    border-radius: 3px;
}
.overlay .l-text {
    font-size: 24px;
    margin-top: 15px;
}
.pagination-sm {
    cursor: hand;
}
.sui-tabular-content .page-title .right {
    display: flex;
}
.sui-tabular-content .table-footer .right {
    float: right;
}
@media screen and (max-width: 430px) {
    .sui-tabular-content .page-title .right {
        display: block;
    }
}
.search-form {
    display: flex;
    padding-right: 5px;
}
.search-form input {
    max-width: 150px;
    margin-right: -5px;
}
.user-panel .pull-left.image {
    font-size: 35px;
    color: white;
    padding: 5px 10px 5px 10px;
    border: 1px solid;
    border-radius: 50%;
    background-color: #007d71;
}
.sidebar-collapse .user-panel .pull-left.image {
    font-size: 22px;
}
select.form-control {
    padding: 5px 12px;
}