<div class="row tabular-body" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-12">
        <div class="card">
            <span class="label label-info" th:text="|${#lists.size(products)} of ${count}|"></span>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#Id</th>
                        <th width="30%">Name</th>
                        <th width="30%">Description</th>
                        <th width="20%">Created By</th>
                        <th width="15%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${#strings.abbreviate(product.name, 30)}"></td>
                        <td th:text="${#strings.abbreviate(product.description, 50)}"></td>
                        <td th:text="${#strings.abbreviate(product.createdBy?.name, 30)}"></td>
                        <td class="action-navigator btn-group" th:attr="data-id=${product.id}">
                            <span class="btn btn-info edit"><i class="fa fa-lg fa-edit"></i></span>
                            <span class="btn btn-warning remove"><i class="fa fa-lg fa-trash"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="table-footer">
                    <div class="left">
                    </div>
                    <div class="right">
                        <ul class="pagination pagination-sm" th:attr="data-count=${count ?: 0}"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>