<div xmlns:th="http://www.thymeleaf.org">
    <form class="form-horizontal" method="post" th:action="@{/categoryAdmin/save}">
        <input type="hidden" name="id" th:value="${category.id}"/>
        <fieldset>
            <legend th:text="${category.id != null ? 'Edit category' : 'Create category'}"></legend>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputText">Name</label>
                <div class="col-lg-10">
                    <input name="name" required="" maxlength="250" minlength="2" class="form-control" id="inputText" type="text" placeholder="Name" th:value="${category.name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="textArea">Description</label>
                <div class="col-lg-10">
                    <textarea name="description" minlength="10" maxlength="1000" class="form-control" placeholder="Description" id="textArea" rows="3" th:text="${category.description}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default cancel" type="button">Cancel</button>
                    <button class="btn btn-success" type="reset">Reset</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>