<div class="row tabular-body" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-12">
        <div class="card">
            <span class="label label-info" th:text="|Showing ${#lists.size(orders)} of ${count}|"></span>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="5%">#Id</th>
                        <th width="35%">Name</th>
                        <th width="15%">Created By</th>
                        <th width="10%">Price</th>
                        <th width="10%">Status</th>
                        <th width="10%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${#strings.abbreviate(order.name, 30)}"></td>
                        <td th:text="${#strings.abbreviate(order.createdBy?.name, 30)}"></td>
                        <td th:text="${order.basePrice}"></td>
                        <td><span th:class="|label ${order.active ? 'label-info' : 'label-danger'}|" th:text="${order.active ? 'Active' : 'InActive'}"></span></td>
                        <td class="action-navigator btn-group" th:attr="data-id=${order.id}">
                            <span class="btn btn-info edit"><i class="fa fa-lg fa-edit"></i></span>
                            <span class="btn btn-warning remove"><i class="fa fa-lg fa-trash"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="table-footer">
                    <div class="left">
                    </div>
                    <div class="right">
                        <ul class="pagination pagination-sm" th:attr="data-count=${count ?: 0}"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>